<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>JungleRegister</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bulma CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


        <!-- style -->
        <style>
            html, body {
                height: 100%; /* 전체 높이를 화면 크기에 맞게 설정 */
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .register-container {
                width: 320px;
                margin: auto;
                text-align: center;
            }

        </style>


        <script>

            // 간단한 회원가입 함수입니다.
            // 아이디, 비밀번호, 닉네임을 받아 DB에 저장합니다.
            function register() {
                $.ajax({
                    type: "POST",
                    url: "/api/register",
                    data: {
                        id_give: $('#userid').val(),
                        pw_give: $('#userpw').val(),
                        nickname_give: $('#nickname').val()
                    },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('회원가입이 완료되었습니다.')
                            window.location.href = '/login'
                        } else {
                            alert(response['msg'])
                        }
                    }
                })
            }

        </script>

    </head>
    <body>
        <div class="register-container">
            <h1 class="title is-4">회원가입 페이지</h1>
            <div class="box">
                <div class="field">
                    <div class="field-label is-normal">
                        <label class="label" for="nickname">이름</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="nickname" placeholder="예시:홍길동(정글8기-1)">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="field-label is-normal">
                        <label class="label" for="userid">ID</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="userid" aria-describedby="emailHelp"
                                       placeholder="내 아이디">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="field">
                    <div class="field-label is-normal">
                        <label class="label" for="userpw">Password</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="userpw" placeholder="비밀번호"> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="field-label is-normal">
                        <label class="label" for="userrepw">비밀번호 확인</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="userrepw" placeholder="비밀번호 재확인">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" onclick="register()">회원가입</button>
            </div>
        </div>
    </body>
</html>